@CHARSET "ISO-8859-1";

html,body {
	/* Full page */
	background: #000000;
	height: 100%;
	margin: 0;
	
	/* Working for FF, Safari, Opera, Chrome */
	/* KB3008923 has to be installed for being use without any probleme */
	/* FUCK IE ! */
	cursor: url("../img/cursor.png"),url("../img/cursor2.png"),auto;
	overflow:hidden;
}

body {
}

@media(max-width:399px){
	#content{width: 260px;}
}

@media(min-width:400px){
	#content{width: 400px;}
}

@media(min-width:600px){
	#content{width: 600px;}
}

@media(min-width:900px){
	#content{width: 900px;}
}

@media(min-width:1200px){
	#content{width: 1200px;}
}

@media(min-width:1500px){
	#content{width: 1500px;}
}

#content {
	position: absolute;
	opacity: 0;
	/* center with style */
	left: 0;
	right: 0;
	margin: auto;
	height: 100%;
	
	display: flex;
	justify-content: center;
}

#title {
	position: relative;
	display: flex;
	justify-content: center;
	
	/* For Safari*/
	text-align: center;
	
	background: #E6E6FA;
	height: 20%;
}

#menu {
	height: 80%;
	background: #E6E6FA;
	position: relative;
}

#smenu {
	height: 80%;
	width: 80%;
	
	/* For Safari*/
	text-align: center;
	
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

.center {
	/* fix this element inside at the center */
	align-self: center;
}

/* min-height : 300+40*3 = 420px */
.level {
	/* Flex element */
	position: relative;
	display: flex;
	justify-content: center;
	
	height: 30%;
	width: 70%;
	/* 300px, if your computer sucks 800*600 */
	min-height: 100px;
	
	background: #7a7a7a;
	
	/* Usefull, can be use like a min-height :) */
	line-height: 100%;
	
	/* I know, it's 99% at the end but i dont care at all */
	margin-bottom: 3%;
	
	/* center with style */
	left: 0;
	right: 0;
	margin-left: auto;	
	margin-right: auto;	
	
	box-shadow: 0px 0px 0px 2px transparent; 
	
	
	border-radius: 25px;
	
	/*border:1px solid #72021c; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;*/
 background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}	

.level:hover {
	 background-color: #2d2f32; 
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2f32), to(#1a1a1a));
	 background-image: -webkit-linear-gradient(top, #2d2f32, #1a1a1a);
	 background-image: -moz-linear-gradient(top, #2d2f32, #1a1a1a);
	 background-image: -ms-linear-gradient(top, #2d2f32, #1a1a1a);
	 background-image: -o-linear-gradient(top, #2d2f32, #1a1a1a);
 	 background-image: linear-gradient(to bottom, #2d2f32, #1a1a1a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d2f32, endColorstr=#1a1a1a);
}

.font { 
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #ffffff;
	margin: 0;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;	
}

.font_title { 
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #000000;
	margin: 0;
	font-size: 80px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;	
}
